:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f9faf5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  padding: 48px;
}

/* img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} */

input,
button,
textarea,
select {
  font: inherit;
  all: unset;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* #root,
#__next {
  isolation: isolate;
} */

@media screen and (max-width: 700px) {
  body {
    padding: 24px;
  }
}

@media screen and (max-width: 300px) {
  body {
    padding: 8px;
  }
}
