@import "@radix-ui/colors/blackA.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

.DashboardContainer {
  width: 100%;
  height: 100%;
  /* background: brown; */
  display: flex;
  flex-direction: column;
}

.DashboardHeading {
  width: 100%;
  /* background-color: purple; */
  margin-bottom: 40px;
}

.DashboardHeading > h1 {
  font-weight: 600;
}

.DashboardButtons {
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  /* background-color: aqua; */
  width: 100%;
  font-size: 12px;
  margin-bottom: 24px;
}

.ButtonOutline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 24px;
  background: #fff;
  border: 1px dashed #797979;
  border-radius: 8px;
}

.ButtonGreen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 24px;
  background: #639e7d;
  color: #fff;
  border-radius: 8px;
}

.CardColumnsContainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 24px;
  background-color: #e9e9e9;
  border-radius: 8px;
  gap: 24px;
}

.CardColumn {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  border-radius: 8px;
  background: #f9faf5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px;
  min-width: 200px;
}

.CardColumnHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CardList {
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  margin-top: 24px;
  overflow-y: auto;
}

.Card {
  background: #fff;
  border-radius: 8px;
  width: 90%;
  height: 110px;
  margin: 16px 0px;
  margin-left: 12px;
  padding: 8px;
}

.CardHeading {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: #000;
}

.CardUserAvatar {
  margin: 3px 0 0 3px;
}

.CardUserEmail,
.CardUserPhone {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #9b9b9b;
  font-size: 12px;
}

@media screen and (max-width: 1100px) {
  .CardColumnsContainer {
    overflow: scroll;
    flex-wrap: wrap;
  }
  .CardColumn {
    width: 100%;
    height: 500px;
  }
}

@media screen and (max-width: 715px) {
  .ButtonGreen {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .DashboardButtons {
    justify-content: space-between;
  }
  .ButtonOutline {
    gap: 6px;
    padding: 4px 16px;
  }
}

@media screen and (min-width: 1600px) {
  .CardColumn {
    padding: 32px;
  }
}

/* This applies to the whole webpage */
.CardList::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.CardList::-webkit-scrollbar-track {
  background: #f2f3f5; /* color of the tracking area */
}

.CardList::-webkit-scrollbar-thumb {
  background-color: #d6d5d5;
  border-radius: 8px;
  border: 3px solid #f2f3f5;
}

/* Add a hover effect */
.CardList::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}
