.SideNavigationMenuRoot {
  width: 175px;
  height: 100%;
  /* background-color: lightgray; */
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #808080;
}
.SideNavigationMenuRoot::before,
.SideNavigationMenuRoot::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #808080;
  position: absolute;
  right: -3px;
}

.SideNavigationMenuRoot::before {
  top: -5px; /* half of the width and height */
}

.SideNavigationMenuRoot::after {
  bottom: -5px; /* half of the width and height */
}

.SideNavigationMenuList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  height: 100%;
  list-style: none;
  margin: 4em 0;
  padding: 0;
}

.SideNavigationMenuLink {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  color: #000;
}

.SideNavigationMenuItem .active,
.SideNavigationMenuItem:hover .SideNavigationMenuLink {
  color: #639e7d;
}

.SideNavbarVertLine {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0px;
}

@media screen and (max-width: 715px) {
  .SideNavigationMenuRoot {
    width: 80px;
  }

  .SideNavigationMenuLinkLabel {
    display: none;
  }
}
